.productlist-container {
/*	background-color: #f7f0f1;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 5px 0px 5px 0px;
	justify-content: space-evenly;
	width: 80%;
}

.card {
	width: 260px;
	margin: 0px 0px 15px 0px;
	border: 2px solid;
	border-color: rgba(0, 0, 0, 0.1);	
	border-radius: 10px
}

.short-desc {
	margin: 10px;
	font-size: 0.9rem;
}

.listing-price {
	color: #4cbc94;
	font-weight: bold;
}

.btn-shop {
	align-self: center;
	width: 60%;
	padding: 0.4rem;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 6px;
	border: none;
	color: #fff;
    background-color: #4cbc94;	
}

.btn-shop:hover {
	color: #4cbc94;
    background-color: #fff;
}

.btn-shop p {
	font-size: 1rem;
	margin: 0;
}

@media only screen and (max-width: 600px) {
	.productlist-container {
		width: 100%;
	}
}