.login-page {
	margin: 20px;
}

.login-page h3 {
	color: #4CBC94;
	font-family: 'Cute Font', cursive;
	font-weight: 900;
	font-size: 48px;
}

.login-page p {
	color: #4CBC94;
}

.profile-email {
	margin-bottom: 10px
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form-width {
	width: 100%;
}

.form-check-label span {
	cursor: pointer;
	text-decoration: underline;
}

.btn-signup {
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 10px;
	width: 100px;
	justify-content: center;
}

.small-link {
	margin-top: 5px;
	color: #4CBC94;
	font-weight: bold;
}

{/* TOS and Privacy Overlay */}
.overlay-modal {
	display: none;
	position: fixed;
	background-color: rgba(0,0,0,0.7);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 100;
}
.modal-container {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 100%;
	max-width: 640px;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.modal-title {
	font-size: 25px;
    font-weight: bold;
    padding: 30px 30px 20px;
}
.modal-content {
	font-size: 14px;
    line-height: 20px;
    max-height: 400px;
    overflow-y: auto;
    padding: 0 30px 30px;
/*    text-align: left;
    align-items: left;
    justify-content: flex-start;*/
}
.modal-content li {
	text-align: left;
}
.modal-footer {
    text-align: right;
    padding: 15px 30px 15px 0;
}
.btn-close-modal {
	font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 25px;
    text-align: center;
    transition: transform 150ms;
    display: inline-block;
    border: none;
    cursor: pointer;
}


