/*  hide prev/next button   */
.slider-control-centerleft {
	display: none !important;
}
.slider-control-centerright {
	display: none !important;
}

/*@media only screen and (max-width: 768px) {
	.slider-container {
		display: none !important;
	}
}*/